body{
    margin:0;
    font-family: "Orbitron", Arial, sans-serif;
    background:#020c16;
    color:#00eaff;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

/* grid background */

body::before{
    content:"";
    position:fixed;
    width:100%;
    height:100%;
    background-image:
        linear-gradient(#0b1e2e 1px, transparent 1px),
        linear-gradient(90deg,#0b1e2e 1px, transparent 1px);
    background-size:40px 40px;
    opacity:0.3;
}

/* main card */

.container{
    width:420px;
    padding:35px;
    border-radius:10px;
    background:rgba(3,18,32,0.9);
    box-shadow:0 0 25px #00eaff33;
    border:1px solid #00eaff33;
    text-align:center;
}

/* title */

h1{
    font-size:28px;
    letter-spacing:3px;
    margin-bottom:5px;
    text-shadow:0 0 12px #00eaff;
}

.subtitle{
    font-size:12px;
    color:#7adfff;
    margin-bottom:25px;
}

/* textarea */

textarea{
    width:100%;
    height:120px;
    background:#071d2f;
    border:1px solid #00eaff55;
    border-radius:6px;
    color:white;
    padding:10px;
    outline:none;
}

/* neon button */

button{
    margin-top:20px;
    padding:12px 20px;
    width:100%;
    background:transparent;
    border:1px solid #00eaff;
    color:#00eaff;
    font-weight:bold;
    letter-spacing:2px;
    cursor:pointer;
    transition:0.3s;
}

button:hover{
    background:#00eaff;
    color:#02121e;
    box-shadow:0 0 15px #00eaff;
}

/* result box */

.result-box{
    margin-top:20px;
    padding:10px;
    border-radius:6px;
    font-weight:bold;
}

.real{
    border:1px solid #00ff9d;
    color:#00ff9d;
    box-shadow:0 0 10px #00ff9d55;
}

.fraud{
    border:1px solid #ff3b3b;
    color:#ff3b3b;
    box-shadow:0 0 10px #ff3b3b55;
}

/* stats row */

.stats{
    display:flex;
    justify-content:space-between;
    margin-top:20px;
    font-size:12px;
    color:#79dfff;
}