<!DOCTYPE html>
<html>

<head>

<title>Fraudulent Job Detection</title>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">

<h1>Fraudulent Job Detection</h1>

<p class="subtitle">AI powered scam job detector</p>

<form action="/predict" method="post">

<textarea name="job" placeholder="Paste job description here..."></textarea>

<br>

<button type="submit">Analyze Job</button>

</form>

<div class="result">

{{ prediction_text|safe }}

</div>

</div>

</body>

</html>